build/
export/

.o
.d

logs/
.log

.lock

.bin
.pdi
.vitisWorkspace.json

_ide/
.rigel_lopper/

platform/
app_component/

*.cache/
*.hw/
*.ip_user_files/
*.sdk/
*.Xil/
*_hw_platform/
*.gen/
*.runs/

.jou
.log
.str

dfx_runtime.txt

docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.cache/wt/project.wpc
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.cache/wt/synthesis.wdf
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.cache/wt/synthesis_details.wdf
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.hw/Lab_1.lpr
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/.jobs/vrs_config_1.xml
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/.jobs/vrs_config_2.xml
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/.jobs/vrs_config_3.xml
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.init_design.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.init_design.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.opt_design.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.opt_design.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.phys_opt_design.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.phys_opt_design.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.place_design.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.place_design.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.route_design.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.route_design.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.vivado.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.vivado.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/.Vivado_Implementation.queue.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/clockInfo.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/dfx_runtime.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/gen_run.xml
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/htr.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/init_design.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/ISEWrap.js
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/ISEWrap.sh
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0.tcl
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0.vdi
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_bus_skew_routed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_bus_skew_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_bus_skew_routed.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_clock_utilization_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_control_sets_placed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_opted.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_opted.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_opted.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_routed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_drc_routed.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_io_placed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_methodology_drc_routed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_methodology_drc_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_methodology_drc_routed.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_opt.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_physopt.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_placed.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_power_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_power_routed.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_power_summary_routed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_route_status.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_route_status.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_routed.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_timing_summary_routed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_timing_summary_routed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_timing_summary_routed.rpx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_utilization_placed.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/myip_v1_0_utilization_placed.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/opt_design.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/phys_opt_design.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/place_design.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/project.wdf
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/route_design.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/rundef.js
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/runme.bat
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/runme.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/runme.sh
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/vivado.jou
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/impl_1/vivado.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/.vivado.begin.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/.vivado.end.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/.Vivado_Synthesis.queue.rst
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/__synthesis_is_complete__
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/dfx_runtime.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/gen_run.xml
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/htr.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/ISEWrap.js
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/ISEWrap.sh
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/myip_v1_0.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/myip_v1_0.tcl
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/myip_v1_0.vds
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/myip_v1_0_utilization_synth.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/myip_v1_0_utilization_synth.rpt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/rundef.js
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/runme.bat
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/runme.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/runme.sh
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/vivado.jou
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.runs/synth_1/vivado.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.srcs/utils_1/imports/synth_1/tb_myip_v1_0.dcp
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.xpr
docs/Lab_1/Lab_1_Files/matrix_multiply.v.txt
docs/Lab_1/Lab_1_Files/memory_RAM.v.txt
docs/Lab_1/Lab_1_Files/myip_v1_0.v.txt
docs/Lab_1/Lab_1_Files/tb_myip_v1_0.v.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/compile.bat
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/compile.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/elaborate.bat
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/elaborate.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/glbl.v
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/simulate.bat
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/simulate.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/tb_myip_v1_0.tcl
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/tb_myip_v1_0_behav.wdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/tb_myip_v1_0_vlog.prj
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/test_input.mem
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/test_result_expected.mem
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xelab.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/Compile_Options.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/obj/xsim_0.win64.obj
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/obj/xsim_1.c
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/obj/xsim_1.win64.obj
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/TempBreakPointFile.txt
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.dbg
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.mem
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.reloc
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.rlx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.rtti
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.svtype
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.type
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.version
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsim.xdbg
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsimcrash.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsimk.exe
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/tb_myip_v1_0_behav/xsimkernel.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/matrix_multiply.sdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/memory_@r@a@m.sdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/myip_v1_0.sdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb_myip_v1_0.sdb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.dir/xsim.version
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xsim.ini
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xvlog.log
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.sim/sim_1/behav/xsim/xvlog.pb
docs/Lab_1/Lab_1_Files/Lab_1/Lab_1.srcs/utils_1/imports/synth_1/myip_v1_0.dcp
dfx_runtime.txt
