build/
*.xpr
*.xci
*.bd

export/

.o
.d

logs/
.log

.lock

.bin
.pdi
.vitisWorkspace.json

_ide/
.rigel_lopper/

platform/
app_component/

*.cache/
*.hw/
*.ip_user_files/
*.sdk/
*.Xil/
*_hw_platform/
*.gen/
*.runs/

*.jou
*.log
*.str
*.yaml
*.cmake
*.json
*.ld

sdt/
resources/
zynqmp_fsbl/
hw_artifacts/
include/
lib/
libsrc/
psu_cortexa53_0/
.compile_commands/
.clangd

CMakeLists.txt
dfx_runtime.txt

ip_repo/
docs/Lab_3/Lab_3_Files/Lab_3/Lab_3.sim/
docs/Lab_3/Lab_3_Files/Lab_3/memory_RAM.v.txt
docs/Lab_3/Lab_3_Files/Lab_3/myip_v1_0.v.txt
docs/Lab_3/Lab_3_Files/Lab_3/sharedparams.vh.txt
docs/Lab_3/Lab_3_Files/Lab_3/matrix_multiply.v.txt
docs/Lab_3/Lab_3_Files/Lab_3/tb_myip_v1_0.v.txt
docs/Lab_3/Lab_3_Files/matrix_multiply_w_axi_fifo/main.c.txt
