build/
*.xpr
*.xci
*.bd

export/

.o
.d

logs/
.log

.lock

.bin
.pdi
.vitisWorkspace.json

_ide/
.rigel_lopper/

platform/
app_component/

*.cache/
*.hw/
*.ip_user_files/
*.sdk/
*.Xil/
*_hw_platform/
*.gen/
*.runs/

*.jou
*.log
*.str
*.yaml
*.cmake
*.json
*.ld

sdt/
resources/
zynqmp_fsbl/
hw_artifacts/
include/
lib/
libsrc/
psu_cortexa53_0/
.compile_commands/
.clangd

CMakeLists.txt
dfx_runtime.txt

ip_repo/
docs/Lab_2/Lab_2_Files/Lab2-VivadoFiles/Lab_2.srcs
docs/Lab_3/Lab_3_Files/Lab_3/Lab_3.sim
docs/Lab_4/Lab_4_Files/HDL_Non-Optimised/Lab_2.srcs
docs/Lab_4/Lab_4_Files/HLS_Non-Optimised/hls_component
docs/Lab_4/Lab_4_Files/HDL_Optimised/Lab_4/Lab_4.srcs
docs/Lab_4/Lab_4_Files/HLS_Optimised/myip_v1_0_HLS
docs/Lab_4/Lab_4_Files/pynq/coprocessor_hls_non-optimised

docs/Lab_4/balenaEtcher-2.1.4.Setup.exe
docs/Lab_4/Lab_4_Files/Ubuntu_Pynq_Kria_v1.img.zip
docs/Lab_4/Ubuntu_Pynq_Kria_v1.img.zip
