# Ignore build output directory
/build
build/
/export

# Ignore object files and dependent files
*.o
*.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

#Ignore imported examples
/xuartps_hello_world_example
/xllfifo_polling_example

/_ide
_ide/
/platform

src/.cache/
.cache/

*.yaml
*.bit
*.tcl
*.json
*.txt
*.cmake
*.clangd
*.ld
!*.c